/* .btn-login {
    border-radius: 7px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.85em;
    margin-top: 5vh;
    margin-bottom: 1vh;
    padding: 10px 50px;
    cursor: pointer;
}

  #login {
    background-color: transparent;
    color: #666667;
    border: 1px solid #666667;
    transition: 0.5s;
}

#login:hover {
    background-color: #32b8cdbc;
    color: #ffffff;
    border: 1px solid #32b8cdbc;
    transition: 0.5s;
} */
