    body {
    margin: 0;
    font-family: monospace;
    background-color: rgb(33, 33, 33);
}

.header{
    border-bottom: 2px solid #32b9cd;
    background-color: #151515;
 }

.container-dash{
    color: #ecedef;
    display: flex;
    justify-content: space-between;
}

.container-dash h1{
    margin: 5px;
    margin-left: 0;
}

.container-dash ul {
    /* color: rgb(122, 2, 2); */
    display: flex;
    width: 1100px;
    justify-content: right;
    align-items: center;
    list-style:none;
    text-shadow: 1px 1px 5px #32b8cd;
    height: 50px;
}
.header .container-dash{
    justify-content: space-around;
    align-items: flex-end;
}

ul a{
    color: #ecedef;
    text-decoration: none;
    font-size: 20px;
}

.container-dash .logo_header{
    display: flex;
    justify-content: space-evenly;
    width: 40px;
    height: 80px;
    text-shadow: 1px 1px 5px #32b8cd;
    
}
.logo_header img{
    position: relative;
    top: -5px;
    left: -5px;
    /* background-color: #32b8cd3a; */
    /* border: #32b9cd solid 1px; */
    /* background: rgba(31, 168, 206, 0.281);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px ); */
}

.card{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 20px;
    box-shadow: 10px 10px 15px 5px #32b8cd;
    /* border: 3px solid #1f0243; */
    height: 550px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 30px;
}
.card a{
    text-decoration: none;
    color: #ecedef;
    font-size: 30px;
    text-shadow: 1px 1px 5px #32b8cd;
}

li{
    list-style: none;
}